.hero-restaurant {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    background-color: #f8fafc;
    .hero-info {
        flex-grow: 1;
        padding: 50px 80px;
        h2 {
            position: relative;
            font-size: 3rem;
            color: $accent1-col;
            &::after {
                content: '';
                position: absolute;
                bottom: -20px;
                left: 0;
                width: 250px;
                max-width: 100%;
                height: 3px;
                background: $accent1-col;
            }
        }
        p {
            color: $system2-col;
        }
        i {
            color: $principal-col;
        }
    }
    .restaurant-info {
        display: flex;
        flex-direction: column;
        background: $principal-col;
        .contacts {
            border-radius: 10px;
            padding: 10px 0;
            height: 200px;
            border: none;
            background: none;
            &.card {
                width: 17rem;
                position: relative;
                &::before {
                    content: "";
                    width: 39px;
                    height: 150%;
                    transform: rotate(83deg);
                    position: absolute;
                    background: #f8fafc;
                    left: 120px;
                    top: 40px;
                    z-index: 1;
                }
            }
            img {
                vertical-align: middle;
                border-style: none;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .text {
            padding: 20px;
            margin-top: 20px;
            h3 {
                color: $accent2-col;
            }
            .btn-warning:hover {
                background-color: $principal-col;
            }
        }
    }
    .genre {
        position: relative;
        margin-right: 8px;
        &::after {
            content: '•';
            position: absolute;
            right: -8px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

@media screen and (max-width: 767px) {
    .hero-restaurant {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        .hero-info {
            flex-grow: 1;
            padding: 50px 10px;
            text-align: center;
            h2 {
                &::after {
                    left: 50%;
                    transform: translate(-50%);
                }
            }
        }
        .restaurant-info {
            .text {
                text-align: center;
            }
            .contacts {
                border-radius: 0;
                margin-top: 10px;
                padding: 0;
                &.card {
                    width: 100%;
                    img {
                        border-radius: 0;
                        width: 100%;
                    }
                    &::before {
                        content: none;
                    }
                }
            }
        }
    }
}
